html,body{
    font-family:$font-regular;
}
html{
    
    @include media(xs){
        font-size: 14px;
     }
     @include media(xxs){
        font-size: 12px;
     }
}
body{

}
/* --------------------------------- TEXTOS --------------------------------- */
h1,h2,h3,h4,h5,h6,strong,.h1,.h2,.h3,.h4,.h5,.h6{
   font-family: $font-black;
}

/* -------------------------------- SECCIONES ------------------------------- */
.fit-cover{
    object-fit: cover;
    object-position: center;
}

/* --------------------------------- COLORS --------------------------------- */
.bg-light-color{
    background-color: $light-color;
}
/* --------------------------------- LISTAS --------------------------------- */

/* -------------------------------- CAROUSEL -------------------------------- */

/* ---------------------------------- MODAL --------------------------------- */

/* ---------------------------------- ICONS --------------------------------- */

/* ------------------------------ SLIDER SLICK ------------------------------ */

/* ----------------------------- CONTACT FORM-7 ----------------------------- */

// ACCORDION ===================================================================
